<!DOCTYPE HTML>
<html>
    <head>
        <title> Blog </title>
    </head>
    <body>
        <h1> All is well</h1>
        <a href="/submit">New Post</a>
        <hr>
        {% for post in allposts %}
            <div class="blogpost">
                <div class="blog-title">{{post.topic}}</div><br/>
                <div class="blog-post">{{post.post}}</div><br/>
                <div class="blog-permalink"><a href="/{{post.permalink}}">{{post.permalink}}</a></div><br/>
            </div>
        {%endfor%}
    </body>
</html>
