<!DOCTYPE HTML>
<html>
        <title>Form</title>
    <body>
        <form method="post" action="/">
        <label>
        Name:
        <input type="text" name="username" value="{{username}}">
        <div style="color: red">{{username}}</div>
        </label>
        <label>
        Password:
        <input type="password" name="password" value="">
        <div style="color: red">{{password_error}}</div>
        </label>
        <label>
        Verify Password:
        <input type="password" name="verify" value="">
        <div style="color: red">{{verify_password_error}}</div>
        </label>
        <label>
        Email:
        <input type="text" name="email" value="{{email}}">
        <div style="color: red">{{email_error}}</div>
        </label>
        <input type="submit">
        </form>
    </body>
</html>
